Fill -> mean,median,mode
for filling..
numeric data ->mean ,median
categorial data -> mode

Drop
-----
df.dropna(axis = 0/1, how='any'/'all,inplace = true/false ) default axis=0 and how='any'
df.drop()

In [11]:
import pandas as pd

In [116]:
df = pd.read_csv("Datas//Employees.csv")

In [21]:
df.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,17.06.2003,AD_PRES,24000,NaN,NaN,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,21.09.2005,AD_VP,17000,NaN,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,13.01.2001,AD_VP,17000,NaN,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,03.01.2006,IT_PROG,9000,NaN,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,21.05.2007,IT_PROG,6000,NaN,103.0,60.0

In [23]:
df.shape

(111, 11)

In [13]:
#df.dropna(inplace = True)

In [15]:
#df

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
45,145,John,Russell,JRUSSEL,011.44.1344.429268,01.10.2004,SA_MAN,14000,0.40,100.0,80.0
46,146,Karen,Partners,KPARTNER,011.44.1344.467268,05.01.2005,SA_MAN,13500,0.30,100.0,80.0
47,147,Alberto,Errazuriz,AERRAZUR,011.44.1344.429278,10.03.2005,SA_MAN,12000,0.30,100.0,80.0
48,148,Gerald,Cambrault,GCAMBRAU,011.44.1344.619268,15.10.2007,SA_MAN,11000,0.30,100.0,80.0
49,149,Eleni,Zlotkey,EZLOTKEY,011.44.1344.429018,29.01.2008,SA_MAN,10500,0.20,100.0,80.0
50,150,Peter,Tucker,PTUCKER,011.44.1344.129268,30.01.2005,SA_REP,10000,0.30,145.0,80.0
51,151,David,Bernstein,DBERNSTE,011.44.1344.345268,24.03.2005,SA_REP,9500,0.25,145.0,80.0
52,152,Peter,Hall,PHALL,011.44.1344.478968,20.08.2005,SA_REP,9000,0.25,145.0,80.0
53,153,Christopher,Olsen,COLSEN,011.44.1344.498718,30.03.2006,SA_REP,8000,0.20,145.0,80.0
54,154,Nanette,Cambrault,NCAMBRAU,011.44.1344.987668,09.12.2006,SA_REP,7500,0.20,145.0,80.0
55,155,Oliver,Tuvault,OTUVAULT,011.44.1344.486508,23.11.2007,SA_REP,7000,0.15,145.0,80.0
56,156,Janette,King,JKING,011.44.1345.429268,30.01.2004,SA_REP,10000,0.35,146.0,80.0
57,157,Patrick,Sully,PSULLY,011.44.1345.929268,04.03.2004,SA_REP,9500,0.35,146.0,80.0
58,158,Allan,McEwen,AMCEWEN,011.44.1345.829268,01.08.2004,SA_REP,9000,0.35,146.0,80.0
59,159,Lindsey,Smith,LSMITH,011.44.1345.729268,10.03.2005,SA_REP,8000,0.30,146.0,80.0
60,160,Louise,Doran,LDORAN,011.44.1345.629268,15.12.2005,SA_REP,7500,0.30,146.0,80.0
61,161,Sarath,Sewall,SSEWALL,011.44.1345.529268,03.11.2006,SA_REP,7000,0.25,146.0,80.0
62,162,Clara,Vishney,CVISHNEY,011.44.1346.129268,11.11.2005,SA_REP,10500,0.25,147.0,80.0
63,163,Danielle,Greene,DGREENE,011.44.1346.229268,19.03.2007,SA_REP,9500,0.15,147.0,80.0
64,164,Mattea,Marvins,MMARVINS,011.44.1346.329268,24.01.2008,SA_REP,7200,0.10,147.0,80.0
65,165,David,Lee,DLEE,011.44.1346.529268,23.02.2008,SA_REP,6800,0.10,147.0,80.0
66,166,Sundar,Ande,SANDE,011.44.1346.629268,24.03.2008,SA_REP,6400,0.10,147.0,80.0
67,167,Amit,Banda,ABANDA,011.44.1346.729268,21.04.2008,SA_REP,6200,0.10,147.0,80.0
68,168,Lisa,Ozer,LOZER,011.44.1343.929268,11.03.2005,SA_REP,11500,0.25,148.0,80.0
69,169,Harrison,Bloom,HBLOOM,011.44.1343.829268,23.03.2006,SA_REP,10000,0.20,148.0,80.0
70,170,Tayler,Fox,TFOX,011.44.1343.729268,24.01.2006,SA_REP,9600,0.20,148.0,80.0
71,171,William,Smith,WSMITH,011.44.1343.629268,23.02.2007,SA_REP,7400,0.15,148.0,80.0
72,172,Elizabeth,Bates,EBATES,011.44.1343.529268,24.03.2007,SA_REP,7300,0.15,148.0,80.0
73,173,Sundita,Kumar,SKUMAR,011.44.1343.329268,21.04.2008,SA_REP,6100,0.10,148.0,80.0
74,174,Ellen,Abel,EABEL,011.44.1644.429267,11.05.2004,SA_REP,11000,0.30,149.0,80.0
75,175,Alyssa,Hutton,AHUTTON,011.44.1644.429266,19.03.2005,SA_REP,8800,0.25,149.0,80.0
76,176,Jonathon,Taylor,JTAYLOR,011.44.1644.429265,24.03.2006,SA_REP,8600,0.20,149.0,80.0
77,177,Jack,Livingston,JLIVINGS,011.44.1644.429264,23.04.2006,SA_REP,8400,0.20,149.0,80.0
79,179,Charles,Johnson,CJOHNSON,011.44.1644.429262,04.01.2008,SA_REP,6200,0.10,149.0,80.0

In [49]:
df

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,17.06.2003,AD_PRES,24000,NaN,NaN,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,21.09.2005,AD_VP,17000,NaN,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,13.01.2001,AD_VP,17000,NaN,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,03.01.2006,IT_PROG,9000,NaN,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,21.05.2007,IT_PROG,6000,NaN,103.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...
106,206,William,Gietz,WGIETZ,515.123.8181,07.06.2002,AC_ACCOUNT,8300,NaN,205.0,110.0
107,203,Susan,Mavris,SMAVRIS,515.123.7777,07.06.2002,HR_REP,6500,NaN,101.0,40.0
108,204,Hermann,Baer,HBAER,515.123.8888,07.06.2002,PR_REP,10000,NaN,101.0,70.0
109,205,Shelley,Higgins,SHIGGINS,515.123.8080,07.06.2002,AC_MGR,12008,NaN,101.0,110.0
110,206,William,Gietz,WGIETZ,515.123.8181,07.06.2002,AC_ACCOUNT,8300,NaN,205.0,110.0

In [39]:
#df.dropna(how = 'any')

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
45,145,John,Russell,JRUSSEL,011.44.1344.429268,01.10.2004,SA_MAN,14000,0.40,100.0,80.0
46,146,Karen,Partners,KPARTNER,011.44.1344.467268,05.01.2005,SA_MAN,13500,0.30,100.0,80.0
47,147,Alberto,Errazuriz,AERRAZUR,011.44.1344.429278,10.03.2005,SA_MAN,12000,0.30,100.0,80.0
48,148,Gerald,Cambrault,GCAMBRAU,011.44.1344.619268,15.10.2007,SA_MAN,11000,0.30,100.0,80.0
49,149,Eleni,Zlotkey,EZLOTKEY,011.44.1344.429018,29.01.2008,SA_MAN,10500,0.20,100.0,80.0
50,150,Peter,Tucker,PTUCKER,011.44.1344.129268,30.01.2005,SA_REP,10000,0.30,145.0,80.0
51,151,David,Bernstein,DBERNSTE,011.44.1344.345268,24.03.2005,SA_REP,9500,0.25,145.0,80.0
52,152,Peter,Hall,PHALL,011.44.1344.478968,20.08.2005,SA_REP,9000,0.25,145.0,80.0
53,153,Christopher,Olsen,COLSEN,011.44.1344.498718,30.03.2006,SA_REP,8000,0.20,145.0,80.0
54,154,Nanette,Cambrault,NCAMBRAU,011.44.1344.987668,09.12.2006,SA_REP,7500,0.20,145.0,80.0
55,155,Oliver,Tuvault,OTUVAULT,011.44.1344.486508,23.11.2007,SA_REP,7000,0.15,145.0,80.0
56,156,Janette,King,JKING,011.44.1345.429268,30.01.2004,SA_REP,10000,0.35,146.0,80.0
57,157,Patrick,Sully,PSULLY,011.44.1345.929268,04.03.2004,SA_REP,9500,0.35,146.0,80.0
58,158,Allan,McEwen,AMCEWEN,011.44.1345.829268,01.08.2004,SA_REP,9000,0.35,146.0,80.0
59,159,Lindsey,Smith,LSMITH,011.44.1345.729268,10.03.2005,SA_REP,8000,0.30,146.0,80.0
60,160,Louise,Doran,LDORAN,011.44.1345.629268,15.12.2005,SA_REP,7500,0.30,146.0,80.0
61,161,Sarath,Sewall,SSEWALL,011.44.1345.529268,03.11.2006,SA_REP,7000,0.25,146.0,80.0
62,162,Clara,Vishney,CVISHNEY,011.44.1346.129268,11.11.2005,SA_REP,10500,0.25,147.0,80.0
63,163,Danielle,Greene,DGREENE,011.44.1346.229268,19.03.2007,SA_REP,9500,0.15,147.0,80.0
64,164,Mattea,Marvins,MMARVINS,011.44.1346.329268,24.01.2008,SA_REP,7200,0.10,147.0,80.0
65,165,David,Lee,DLEE,011.44.1346.529268,23.02.2008,SA_REP,6800,0.10,147.0,80.0
66,166,Sundar,Ande,SANDE,011.44.1346.629268,24.03.2008,SA_REP,6400,0.10,147.0,80.0
67,167,Amit,Banda,ABANDA,011.44.1346.729268,21.04.2008,SA_REP,6200,0.10,147.0,80.0
68,168,Lisa,Ozer,LOZER,011.44.1343.929268,11.03.2005,SA_REP,11500,0.25,148.0,80.0
69,169,Harrison,Bloom,HBLOOM,011.44.1343.829268,23.03.2006,SA_REP,10000,0.20,148.0,80.0
70,170,Tayler,Fox,TFOX,011.44.1343.729268,24.01.2006,SA_REP,9600,0.20,148.0,80.0
71,171,William,Smith,WSMITH,011.44.1343.629268,23.02.2007,SA_REP,7400,0.15,148.0,80.0
72,172,Elizabeth,Bates,EBATES,011.44.1343.529268,24.03.2007,SA_REP,7300,0.15,148.0,80.0
73,173,Sundita,Kumar,SKUMAR,011.44.1343.329268,21.04.2008,SA_REP,6100,0.10,148.0,80.0
74,174,Ellen,Abel,EABEL,011.44.1644.429267,11.05.2004,SA_REP,11000,0.30,149.0,80.0
75,175,Alyssa,Hutton,AHUTTON,011.44.1644.429266,19.03.2005,SA_REP,8800,0.25,149.0,80.0
76,176,Jonathon,Taylor,JTAYLOR,011.44.1644.429265,24.03.2006,SA_REP,8600,0.20,149.0,80.0
77,177,Jack,Livingston,JLIVINGS,011.44.1644.429264,23.04.2006,SA_REP,8400,0.20,149.0,80.0
79,179,Charles,Johnson,CJOHNSON,011.44.1644.429262,04.01.2008,SA_REP,6200,0.10,149.0,80.0

In [57]:
#df.drop('COMMISSION_PCT',axis = 1,inplace =True)
#df

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,17.06.2003,AD_PRES,24000,NaN,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,21.09.2005,AD_VP,17000,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,13.01.2001,AD_VP,17000,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,03.01.2006,IT_PROG,9000,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,21.05.2007,IT_PROG,6000,103.0,60.0
...,...,...,...,...,...,...,...,...,...,...
106,206,William,Gietz,WGIETZ,515.123.8181,07.06.2002,AC_ACCOUNT,8300,205.0,110.0
107,203,Susan,Mavris,SMAVRIS,515.123.7777,07.06.2002,HR_REP,6500,101.0,40.0
108,204,Hermann,Baer,HBAER,515.123.8888,07.06.2002,PR_REP,10000,101.0,70.0
109,205,Shelley,Higgins,SHIGGINS,515.123.8080,07.06.2002,AC_MGR,12008,101.0,110.0
110,206,William,Gietz,WGIETZ,515.123.8181,07.06.2002,AC_ACCOUNT,8300,205.0,110.0

#Fill null records

In [62]:
df

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,17.06.2003,AD_PRES,24000,NaN,NaN,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,21.09.2005,AD_VP,17000,NaN,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,13.01.2001,AD_VP,17000,NaN,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,03.01.2006,IT_PROG,9000,NaN,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,21.05.2007,IT_PROG,6000,NaN,103.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...
106,206,William,Gietz,WGIETZ,515.123.8181,07.06.2002,AC_ACCOUNT,8300,NaN,205.0,110.0
107,203,Susan,Mavris,SMAVRIS,515.123.7777,07.06.2002,HR_REP,6500,NaN,101.0,40.0
108,204,Hermann,Baer,HBAER,515.123.8888,07.06.2002,PR_REP,10000,NaN,101.0,70.0
109,205,Shelley,Higgins,SHIGGINS,515.123.8080,07.06.2002,AC_MGR,12008,NaN,101.0,110.0
110,206,William,Gietz,WGIETZ,515.123.8181,07.06.2002,AC_ACCOUNT,8300,NaN,205.0,110.0

In [68]:
commission_mean = df['COMMISSION_PCT'].mean()
print(f"{commission_mean:.2f}")

0.22

In [70]:
df['COMMISSION_PCT'] = df['COMMISSION_PCT'].fillna(commission_mean)

In [72]:
df['COMMISSION_PCT']

0      0.222857
1      0.222857
2      0.222857
3      0.222857
4      0.222857
         ...
106    0.222857
107    0.222857
108    0.222857
109    0.222857
110    0.222857
Name: COMMISSION_PCT, Length: 111, dtype: float64

In [74]:
df

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,17.06.2003,AD_PRES,24000,0.222857,NaN,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,21.09.2005,AD_VP,17000,0.222857,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,13.01.2001,AD_VP,17000,0.222857,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,03.01.2006,IT_PROG,9000,0.222857,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,21.05.2007,IT_PROG,6000,0.222857,103.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...
106,206,William,Gietz,WGIETZ,515.123.8181,07.06.2002,AC_ACCOUNT,8300,0.222857,205.0,110.0
107,203,Susan,Mavris,SMAVRIS,515.123.7777,07.06.2002,HR_REP,6500,0.222857,101.0,40.0
108,204,Hermann,Baer,HBAER,515.123.8888,07.06.2002,PR_REP,10000,0.222857,101.0,70.0
109,205,Shelley,Higgins,SHIGGINS,515.123.8080,07.06.2002,AC_MGR,12008,0.222857,101.0,110.0
110,206,William,Gietz,WGIETZ,515.123.8181,07.06.2002,AC_ACCOUNT,8300,0.222857,205.0,110.0

In [76]:
df.isnull().sum()

EMPLOYEE_ID       0
FIRST_NAME        0
LAST_NAME         0
EMAIL             0
PHONE_NUMBER      0
HIRE_DATE         0
JOB_ID            0
SALARY            0
COMMISSION_PCT    0
MANAGER_ID        1
DEPARTMENT_ID     1
dtype: int64

In [80]:
manager_mode = df['MANAGER_ID'].mode()
print(manager_mode)

0    100.0
Name: MANAGER_ID, dtype: float64

In [82]:
df['MANAGER_ID'].fillna(manager_mode,inplace =True)

C:\Users\user\AppData\Local\Temp\ipykernel_10244\1201766956.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['MANAGER_ID'].fillna(manager_mode,inplace =True)

In [84]:
df

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,17.06.2003,AD_PRES,24000,0.222857,100.0,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,21.09.2005,AD_VP,17000,0.222857,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,13.01.2001,AD_VP,17000,0.222857,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,03.01.2006,IT_PROG,9000,0.222857,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,21.05.2007,IT_PROG,6000,0.222857,103.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...
106,206,William,Gietz,WGIETZ,515.123.8181,07.06.2002,AC_ACCOUNT,8300,0.222857,205.0,110.0
107,203,Susan,Mavris,SMAVRIS,515.123.7777,07.06.2002,HR_REP,6500,0.222857,101.0,40.0
108,204,Hermann,Baer,HBAER,515.123.8888,07.06.2002,PR_REP,10000,0.222857,101.0,70.0
109,205,Shelley,Higgins,SHIGGINS,515.123.8080,07.06.2002,AC_MGR,12008,0.222857,101.0,110.0
110,206,William,Gietz,WGIETZ,515.123.8181,07.06.2002,AC_ACCOUNT,8300,0.222857,205.0,110.0

In [94]:
department_mean = df["DEPARTMENT_ID"].mode()[0]

df["DEPARTMENT_ID"]= df["DEPARTMENT_ID"].fillna(department_mean)

In [96]:
df

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,17.06.2003,AD_PRES,24000,0.222857,100.0,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,21.09.2005,AD_VP,17000,0.222857,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,13.01.2001,AD_VP,17000,0.222857,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,03.01.2006,IT_PROG,9000,0.222857,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,21.05.2007,IT_PROG,6000,0.222857,103.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...
106,206,William,Gietz,WGIETZ,515.123.8181,07.06.2002,AC_ACCOUNT,8300,0.222857,205.0,110.0
107,203,Susan,Mavris,SMAVRIS,515.123.7777,07.06.2002,HR_REP,6500,0.222857,101.0,40.0
108,204,Hermann,Baer,HBAER,515.123.8888,07.06.2002,PR_REP,10000,0.222857,101.0,70.0
109,205,Shelley,Higgins,SHIGGINS,515.123.8080,07.06.2002,AC_MGR,12008,0.222857,101.0,110.0
110,206,William,Gietz,WGIETZ,515.123.8181,07.06.2002,AC_ACCOUNT,8300,0.222857,205.0,110.0

In [98]:
df.isnull().sum()

EMPLOYEE_ID       0
FIRST_NAME        0
LAST_NAME         0
EMAIL             0
PHONE_NUMBER      0
HIRE_DATE         0
JOB_ID            0
SALARY            0
COMMISSION_PCT    0
MANAGER_ID        0
DEPARTMENT_ID     0
dtype: int64

In [102]:
df

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,17.06.2003,AD_PRES,24000,NaN,NaN,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,21.09.2005,AD_VP,17000,NaN,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,13.01.2001,AD_VP,17000,NaN,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,03.01.2006,IT_PROG,9000,NaN,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,21.05.2007,IT_PROG,6000,NaN,103.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...
106,206,William,Gietz,WGIETZ,515.123.8181,07.06.2002,AC_ACCOUNT,8300,NaN,205.0,110.0
107,203,Susan,Mavris,SMAVRIS,515.123.7777,07.06.2002,HR_REP,6500,NaN,101.0,40.0
108,204,Hermann,Baer,HBAER,515.123.8888,07.06.2002,PR_REP,10000,NaN,101.0,70.0
109,205,Shelley,Higgins,SHIGGINS,515.123.8080,07.06.2002,AC_MGR,12008,NaN,101.0,110.0
110,206,William,Gietz,WGIETZ,515.123.8181,07.06.2002,AC_ACCOUNT,8300,NaN,205.0,110.0

In [122]:
df['COMMISSION_PCT'].fillna(0,inplace = True)

C:\Users\user\AppData\Local\Temp\ipykernel_10244\373886494.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['COMMISSION_PCT'].fillna(0,inplace = True)

In [124]:
df

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,17.06.2003,AD_PRES,24000,0.0,0.0,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,21.09.2005,AD_VP,17000,0.0,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,13.01.2001,AD_VP,17000,0.0,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,03.01.2006,IT_PROG,9000,0.0,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,21.05.2007,IT_PROG,6000,0.0,103.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...
106,206,William,Gietz,WGIETZ,515.123.8181,07.06.2002,AC_ACCOUNT,8300,0.0,205.0,110.0
107,203,Susan,Mavris,SMAVRIS,515.123.7777,07.06.2002,HR_REP,6500,0.0,101.0,40.0
108,204,Hermann,Baer,HBAER,515.123.8888,07.06.2002,PR_REP,10000,0.0,101.0,70.0
109,205,Shelley,Higgins,SHIGGINS,515.123.8080,07.06.2002,AC_MGR,12008,0.0,101.0,110.0
110,206,William,Gietz,WGIETZ,515.123.8181,07.06.2002,AC_ACCOUNT,8300,0.0,205.0,110.0

In [126]:
df['MANAGER_ID'].fillna(0,inplace = True)

C:\Users\user\AppData\Local\Temp\ipykernel_10244\8724957.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['MANAGER_ID'].fillna(0,inplace = True)

In [128]:
df

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,17.06.2003,AD_PRES,24000,0.0,0.0,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,21.09.2005,AD_VP,17000,0.0,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,13.01.2001,AD_VP,17000,0.0,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,03.01.2006,IT_PROG,9000,0.0,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,21.05.2007,IT_PROG,6000,0.0,103.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...
106,206,William,Gietz,WGIETZ,515.123.8181,07.06.2002,AC_ACCOUNT,8300,0.0,205.0,110.0
107,203,Susan,Mavris,SMAVRIS,515.123.7777,07.06.2002,HR_REP,6500,0.0,101.0,40.0
108,204,Hermann,Baer,HBAER,515.123.8888,07.06.2002,PR_REP,10000,0.0,101.0,70.0
109,205,Shelley,Higgins,SHIGGINS,515.123.8080,07.06.2002,AC_MGR,12008,0.0,101.0,110.0
110,206,William,Gietz,WGIETZ,515.123.8181,07.06.2002,AC_ACCOUNT,8300,0.0,205.0,110.0

In [130]:
df["MANAGER_ID"]=df["MANAGER_ID"].astype(int)

0        0
1      100
2      100
3      102
4      103
      ...
106    205
107    101
108    101
109    101
110    205
Name: MANAGER_ID, Length: 111, dtype: int32

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EMPLOYEE_ID     111 non-null    int64
 1   FIRST_NAME      111 non-null    object
 2   LAST_NAME       111 non-null    object
 3   EMAIL           111 non-null    object
 4   PHONE_NUMBER    111 non-null    object
 5   HIRE_DATE       111 non-null    object
 6   JOB_ID          111 non-null    object
 7   SALARY          111 non-null    int64
 8   COMMISSION_PCT  111 non-null    float64
 9   MANAGER_ID      111 non-null    float64
 10  DEPARTMENT_ID   110 non-null    float64
dtypes: float64(3), int64(2), object(6)
memory usage: 9.7+ KB

In [127]:
data = pd.read_csv("Datas/HR_Dataset Refresh.csv")

In [129]:
data

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
578,"Anderson, Linda",10002,0,0,0,1,5,4,0,57568,...,Amy Dunn,11.0,LinkedIn,Exceeds,5.00,5,0,1/7/2019,0,15
579,"Andreola, Colby",10194,0,0,0,1,4,3,0,95660,...,Alex Sweetwater,10.0,LinkedIn,Fully Meets,3.04,3,4,1/2/2019,0,19
580,"Athwal, Sam",10062,0,4,1,1,5,3,0,59365,...,Ketsia Liebig,19.0,Employee Referral,Fully Meets,5.00,4,0,2/25/2019,0,19
581,"Bachiochi, Linda",10114,0,0,0,3,5,3,1,47837,...,Brannon Miller,12.0,Diversity Job Fair,Fully Meets,4.46,3,0,1/25/2019,0,4

In [131]:
data.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [133]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               582 non-null    object
 1   EmpID                       582 non-null    int64
 2   MarriedID                   582 non-null    int64
 3   MaritalStatusID             582 non-null    int64
 4   GenderID                    582 non-null    int64
 5   EmpStatusID                 582 non-null    int64
 6   DeptID                      582 non-null    int64
 7   PerfScoreID                 582 non-null    int64
 8   FromDiversityJobFairID      582 non-null    int64
 9   Salary                      582 non-null    int64
 10  Termd                       582 non-null    int64
 11  PositionID                  582 non-null    int64
 12  Position                    582 non-null    object
 13  State                       582 non-null    object
 14  Zip                         582 non-null    int64
 15  DOB                         582 non-null    object
 16  Gender                      582 non-null    object
 17  MaritalDesc                 582 non-null    object
 18  CitizenDesc                 582 non-null    object
 19  HispanicLatino              582 non-null    object
 20  RaceDesc                    582 non-null    object
 21  DateofHire                  582 non-null    object
 22  DateofTermination           196 non-null    object
 23  TermReason                  582 non-null    object
 24  EmploymentStatus            582 non-null    object
 25  Department                  582 non-null    object
 26  ManagerName                 582 non-null    object
 27  ManagerID                   574 non-null    float64
 28  RecruitmentSource           582 non-null    object
 29  PerformanceScore            582 non-null    object
 30  EngagementSurvey            582 non-null    float64
 31  EmpSatisfaction             582 non-null    int64
 32  SpecialProjectsCount        582 non-null    int64
 33  LastPerformanceReview_Date  582 non-null    object
 34  DaysLateLast30              582 non-null    int64
 35  Absences                    582 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 163.8+ KB

In [135]:
data.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Gender', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30',
       'Absences'],
      dtype='object')

In [137]:
data.shape

(582, 36)

In [139]:
data.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Gender                          0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             386
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

In [141]:
data['DateofTermination'] = data['DateofTermination'].fillna('Still Working')

In [143]:
data['DateofTermination']

0      Still Working
1          6/16/2016
2          9/24/2012
3      Still Working
4           9/6/2016
           ...
577         9/6/2016
578    Still Working
579    Still Working
580    Still Working
581    Still Working
Name: DateofTermination, Length: 582, dtype: object

In [145]:
data

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
578,"Anderson, Linda",10002,0,0,0,1,5,4,0,57568,...,Amy Dunn,11.0,LinkedIn,Exceeds,5.00,5,0,1/7/2019,0,15
579,"Andreola, Colby",10194,0,0,0,1,4,3,0,95660,...,Alex Sweetwater,10.0,LinkedIn,Fully Meets,3.04,3,4,1/2/2019,0,19
580,"Athwal, Sam",10062,0,4,1,1,5,3,0,59365,...,Ketsia Liebig,19.0,Employee Referral,Fully Meets,5.00,4,0,2/25/2019,0,19
581,"Bachiochi, Linda",10114,0,0,0,3,5,3,1,47837,...,Brannon Miller,12.0,Diversity Job Fair,Fully Meets,4.46,3,0,1/25/2019,0,4

In [147]:
data.isnull().sum()

Employee_Name                 0
EmpID                         0
MarriedID                     0
MaritalStatusID               0
GenderID                      0
EmpStatusID                   0
DeptID                        0
PerfScoreID                   0
FromDiversityJobFairID        0
Salary                        0
Termd                         0
PositionID                    0
Position                      0
State                         0
Zip                           0
DOB                           0
Gender                        0
MaritalDesc                   0
CitizenDesc                   0
HispanicLatino                0
RaceDesc                      0
DateofHire                    0
DateofTermination             0
TermReason                    0
EmploymentStatus              0
Department                    0
ManagerName                   0
ManagerID                     8
RecruitmentSource             0
PerformanceScore              0
EngagementSurvey              0
EmpSatisfaction               0
SpecialProjectsCount          0
LastPerformanceReview_Date    0
DaysLateLast30                0
Absences                      0
dtype: int64

In [149]:
manager_fill= data['ManagerID'].mode()[0]

In [151]:
data['ManagerID'] = data['ManagerID'].fillna(manager_fill)

In [153]:
data.isnull().sum().sum()

0

Clean and remove unwanted data

In [156]:
#str -> replace,split,strip
'''
Replace(find,replace,regex True/false)
'''

'\nReplace(find,replace,regex True/false)\n'

In [158]:
data['Employee_Name']= data['Employee_Name'].str.replace(',','',regex = False)

In [160]:
data['Employee_Name']

0           Adinolfi Wilson  K
1      Ait Sidi Karthikeyan
2             Akinkuolie Sarah
3                  AlagbeTrina
4              Anderson Carol
                ...
577            Anderson Carol
578           Anderson Linda
579             Andreola Colby
580                 Athwal Sam
581            Bachiochi Linda
Name: Employee_Name, Length: 582, dtype: object

In [162]:
data.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Gender', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30',
       'Absences'],
      dtype='object')

In [164]:
data.isnull().sum().sum()

0

Removing white spaces using strip() function

In [167]:
data['Department'] = data['Department'].str.strip()

In [169]:
data['Department']

0                Production
1                     IT/IS
2                Production
3                Production
4                Production
               ...
577              Production
578              Production
579    Software Engineering
580              Production
581              Production
Name: Department, Length: 582, dtype: object

In [171]:
filter_department = data['Department']== 'Production'

In [173]:
data[filter_department]

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,Adinolfi Wilson K,10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
2,Akinkuolie Sarah,10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,AlagbeTrina,10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
5,Anderson Linda,10002,0,0,0,1,5,4,0,57568,...,Amy Dunn,11.0,LinkedIn,Exceeds,5.00,5,0,1/7/2019,0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576,AlagbeTrina,10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
577,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
578,Anderson Linda,10002,0,0,0,1,5,4,0,57568,...,Amy Dunn,11.0,LinkedIn,Exceeds,5.00,5,0,1/7/2019,0,15
580,Athwal Sam,10062,0,4,1,1,5,3,0,59365,...,Ketsia Liebig,19.0,Employee Referral,Fully Meets,5.00,4,0,2/25/2019,0,19
581,Bachiochi Linda,10114,0,0,0,3,5,3,1,47837,...,Brannon Miller,12.0,Diversity Job Fair,Fully Meets,4.46,3,0,1/25/2019,0,4

In [175]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               582 non-null    object
 1   EmpID                       582 non-null    int64
 2   MarriedID                   582 non-null    int64
 3   MaritalStatusID             582 non-null    int64
 4   GenderID                    582 non-null    int64
 5   EmpStatusID                 582 non-null    int64
 6   DeptID                      582 non-null    int64
 7   PerfScoreID                 582 non-null    int64
 8   FromDiversityJobFairID      582 non-null    int64
 9   Salary                      582 non-null    int64
 10  Termd                       582 non-null    int64
 11  PositionID                  582 non-null    int64
 12  Position                    582 non-null    object
 13  State                       582 non-null    object
 14  Zip                         582 non-null    int64
 15  DOB                         582 non-null    object
 16  Gender                      582 non-null    object
 17  MaritalDesc                 582 non-null    object
 18  CitizenDesc                 582 non-null    object
 19  HispanicLatino              582 non-null    object
 20  RaceDesc                    582 non-null    object
 21  DateofHire                  582 non-null    object
 22  DateofTermination           582 non-null    object
 23  TermReason                  582 non-null    object
 24  EmploymentStatus            582 non-null    object
 25  Department                  582 non-null    object
 26  ManagerName                 582 non-null    object
 27  ManagerID                   582 non-null    float64
 28  RecruitmentSource           582 non-null    object
 29  PerformanceScore            582 non-null    object
 30  EngagementSurvey            582 non-null    float64
 31  EmpSatisfaction             582 non-null    int64
 32  SpecialProjectsCount        582 non-null    int64
 33  LastPerformanceReview_Date  582 non-null    object
 34  DaysLateLast30              582 non-null    int64
 35  Absences                    582 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 163.8+ KB

In [177]:
#converting  object into date
#pd.to_datetime(column,format = '%d.%m.%y'/'mixed' ,DayFirst = False)
data['DateofHire']=pd.to_datetime(data['DateofHire'],format = 'mixed')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               582 non-null    object
 1   EmpID                       582 non-null    int64
 2   MarriedID                   582 non-null    int64
 3   MaritalStatusID             582 non-null    int64
 4   GenderID                    582 non-null    int64
 5   EmpStatusID                 582 non-null    int64
 6   DeptID                      582 non-null    int64
 7   PerfScoreID                 582 non-null    int64
 8   FromDiversityJobFairID      582 non-null    int64
 9   Salary                      582 non-null    int64
 10  Termd                       582 non-null    int64
 11  PositionID                  582 non-null    int64
 12  Position                    582 non-null    object
 13  State                       582 non-null    object
 14  Zip                         582 non-null    int64
 15  DOB                         582 non-null    object
 16  Gender                      582 non-null    object
 17  MaritalDesc                 582 non-null    object
 18  CitizenDesc                 582 non-null    object
 19  HispanicLatino              582 non-null    object
 20  RaceDesc                    582 non-null    object
 21  DateofHire                  582 non-null    datetime64[ns]
 22  DateofTermination           582 non-null    object
 23  TermReason                  582 non-null    object
 24  EmploymentStatus            582 non-null    object
 25  Department                  582 non-null    object
 26  ManagerName                 582 non-null    object
 27  ManagerID                   582 non-null    float64
 28  RecruitmentSource           582 non-null    object
 29  PerformanceScore            582 non-null    object
 30  EngagementSurvey            582 non-null    float64
 31  EmpSatisfaction             582 non-null    int64
 32  SpecialProjectsCount        582 non-null    int64
 33  LastPerformanceReview_Date  582 non-null    object
 34  DaysLateLast30              582 non-null    int64
 35  Absences                    582 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(16), object(17)
memory usage: 163.8+ KB

In [179]:
data['DateofHire']

0     2011-07-05
1     2015-03-30
2     2011-07-05
3     2008-01-07
4     2011-07-11
         ...
577   2011-07-11
578   2012-01-09
579   2014-11-10
580   2013-09-30
581   2009-07-06
Name: DateofHire, Length: 582, dtype: datetime64[ns]

In [181]:
data

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,Adinolfi Wilson K,10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,Ait Sidi Karthikeyan,10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,Akinkuolie Sarah,10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,AlagbeTrina,10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
578,Anderson Linda,10002,0,0,0,1,5,4,0,57568,...,Amy Dunn,11.0,LinkedIn,Exceeds,5.00,5,0,1/7/2019,0,15
579,Andreola Colby,10194,0,0,0,1,4,3,0,95660,...,Alex Sweetwater,10.0,LinkedIn,Fully Meets,3.04,3,4,1/2/2019,0,19
580,Athwal Sam,10062,0,4,1,1,5,3,0,59365,...,Ketsia Liebig,19.0,Employee Referral,Fully Meets,5.00,4,0,2/25/2019,0,19
581,Bachiochi Linda,10114,0,0,0,3,5,3,1,47837,...,Brannon Miller,12.0,Diversity Job Fair,Fully Meets,4.46,3,0,1/25/2019,0,4

Data Tranformation /Feature Engineering

In [184]:
#Split()
'''
split(find,n = index,expand = True)
'''
data[['Firstname','Middlename','Lastname']]=data['Employee_Name'].str.split(' ',n= 2,expand = True)

In [186]:
data.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,Firstname,Middlename,Lastname
0,Adinolfi Wilson K,10026,0,0,1,1,5,4,0,62506,...,Exceeds,4.60,5,0,1/17/2019,0,1,Adinolfi,Wilson,K
1,Ait Sidi Karthikeyan,10084,1,1,1,5,3,3,0,104437,...,Fully Meets,4.96,3,6,2/24/2016,0,17,Ait,Sidi,Karthikeyan
2,Akinkuolie Sarah,10196,1,1,0,5,5,3,0,64955,...,Fully Meets,3.02,3,0,5/15/2012,0,3,Akinkuolie,Sarah,None
3,AlagbeTrina,10088,1,1,0,1,5,3,0,64991,...,Fully Meets,4.84,5,0,1/3/2019,0,15,AlagbeTrina,None,None
4,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,Fully Meets,5.00,4,0,2/1/2016,0,2,Anderson,Carol,

#Extracting year From DateOfHire

In [189]:
data['Year']=data['DateofHire'].dt.year

In [191]:
data

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,Firstname,Middlename,Lastname,Year
0,Adinolfi Wilson K,10026,0,0,1,1,5,4,0,62506,...,4.60,5,0,1/17/2019,0,1,Adinolfi,Wilson,K,2011
1,Ait Sidi Karthikeyan,10084,1,1,1,5,3,3,0,104437,...,4.96,3,6,2/24/2016,0,17,Ait,Sidi,Karthikeyan,2015
2,Akinkuolie Sarah,10196,1,1,0,5,5,3,0,64955,...,3.02,3,0,5/15/2012,0,3,Akinkuolie,Sarah,None,2011
3,AlagbeTrina,10088,1,1,0,1,5,3,0,64991,...,4.84,5,0,1/3/2019,0,15,AlagbeTrina,None,None,2008
4,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,5.00,4,0,2/1/2016,0,2,Anderson,Carol,,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,5.00,4,0,2/1/2016,0,2,Anderson,Carol,,2011
578,Anderson Linda,10002,0,0,0,1,5,4,0,57568,...,5.00,5,0,1/7/2019,0,15,Anderson,Linda,,2012
579,Andreola Colby,10194,0,0,0,1,4,3,0,95660,...,3.04,3,4,1/2/2019,0,19,Andreola,Colby,None,2014
580,Athwal Sam,10062,0,4,1,1,5,3,0,59365,...,5.00,4,0,2/25/2019,0,19,Athwal,Sam,None,2013
581,Bachiochi Linda,10114,0,0,0,3,5,3,1,47837,...,4.46,3,0,1/25/2019,0,4,Bachiochi,Linda,None,2009

In [193]:
data['Month']= data['DateofHire'].dt.month

In [195]:
data

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,Firstname,Middlename,Lastname,Year,Month
0,Adinolfi Wilson K,10026,0,0,1,1,5,4,0,62506,...,5,0,1/17/2019,0,1,Adinolfi,Wilson,K,2011,7
1,Ait Sidi Karthikeyan,10084,1,1,1,5,3,3,0,104437,...,3,6,2/24/2016,0,17,Ait,Sidi,Karthikeyan,2015,3
2,Akinkuolie Sarah,10196,1,1,0,5,5,3,0,64955,...,3,0,5/15/2012,0,3,Akinkuolie,Sarah,None,2011,7
3,AlagbeTrina,10088,1,1,0,1,5,3,0,64991,...,5,0,1/3/2019,0,15,AlagbeTrina,None,None,2008,1
4,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,4,0,2/1/2016,0,2,Anderson,Carol,,2011,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,4,0,2/1/2016,0,2,Anderson,Carol,,2011,7
578,Anderson Linda,10002,0,0,0,1,5,4,0,57568,...,5,0,1/7/2019,0,15,Anderson,Linda,,2012,1
579,Andreola Colby,10194,0,0,0,1,4,3,0,95660,...,3,4,1/2/2019,0,19,Andreola,Colby,None,2014,11
580,Athwal Sam,10062,0,4,1,1,5,3,0,59365,...,4,0,2/25/2019,0,19,Athwal,Sam,None,2013,9
581,Bachiochi Linda,10114,0,0,0,3,5,3,1,47837,...,3,0,1/25/2019,0,4,Bachiochi,Linda,None,2009,7

In [197]:
data['Day']= data['DateofHire'].dt.day

In [199]:
data

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,Firstname,Middlename,Lastname,Year,Month,Day
0,Adinolfi Wilson K,10026,0,0,1,1,5,4,0,62506,...,0,1/17/2019,0,1,Adinolfi,Wilson,K,2011,7,5
1,Ait Sidi Karthikeyan,10084,1,1,1,5,3,3,0,104437,...,6,2/24/2016,0,17,Ait,Sidi,Karthikeyan,2015,3,30
2,Akinkuolie Sarah,10196,1,1,0,5,5,3,0,64955,...,0,5/15/2012,0,3,Akinkuolie,Sarah,None,2011,7,5
3,AlagbeTrina,10088,1,1,0,1,5,3,0,64991,...,0,1/3/2019,0,15,AlagbeTrina,None,None,2008,1,7
4,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,0,2/1/2016,0,2,Anderson,Carol,,2011,7,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,0,2/1/2016,0,2,Anderson,Carol,,2011,7,11
578,Anderson Linda,10002,0,0,0,1,5,4,0,57568,...,0,1/7/2019,0,15,Anderson,Linda,,2012,1,9
579,Andreola Colby,10194,0,0,0,1,4,3,0,95660,...,4,1/2/2019,0,19,Andreola,Colby,None,2014,11,10
580,Athwal Sam,10062,0,4,1,1,5,3,0,59365,...,0,2/25/2019,0,19,Athwal,Sam,None,2013,9,30
581,Bachiochi Linda,10114,0,0,0,3,5,3,1,47837,...,0,1/25/2019,0,4,Bachiochi,Linda,None,2009,7,6

In [201]:
data['HispanicLatino'].unique()

array(['No', 'Yes', 'no', 'yes'], dtype=object)

map

In [204]:
hispanic_latino_id={
    'no':'No',
    'yes': 'Yes',
    'No':'No',
    'Yes':'Yes'
}

In [206]:
data['HispanicLatino']= data['HispanicLatino'].map(hispanic_latino_id)

In [208]:
data['HispanicLatino'].unique()

array(['No', 'Yes'], dtype=object)

In [210]:
hispanic = {
    'No':1,
    'Yes':0
}
data['HispanicLatino']= data['HispanicLatino'].map(hispanic)

In [212]:
data['HispanicLatino'].unique()

array([1, 0], dtype=int64)

In [216]:
data['HispanicLatino']

0      1
1      1
2      1
3      1
4      1
      ..
577    1
578    1
579    1
580    1
581    1
Name: HispanicLatino, Length: 582, dtype: int64

In [222]:
data['HispanicLatino'].head(12)

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    0
11    0
Name: HispanicLatino, dtype: int64