In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report 
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier  
from sklearn.preprocessing import StandardScaler, LabelEncoder

Predict pizza Category on the basis of unit price and Pizza Size

In [16]:
df = pd.read_csv('pizza_sales.csv')

In [18]:
df.columns

Index(['pizza_id', 'order_id', 'pizza_name_id', 'quantity', 'order_date',
       'order_time', 'unit_price', 'total_price', 'pizza_size',
       'pizza_category', 'pizza_ingredients', 'pizza_name'],
      dtype='object')

In [20]:
df['pizza_size'].unique()

array(['M', 'L', 'S', 'XL', 'XXL'], dtype=object)

In [22]:
pizza_size_id = {
    'M':1,
    'L':2,
    'S':0,
    'XL':3,
    'XXL':4
}
df['pizza_size_id'] = df['pizza_size'].map(pizza_size_id)

In [34]:
df

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,pizza_size_id,pizza_category_id
0,1,1,hawaiian_m,1,1/1/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza,1,1
1,2,2,classic_dlx_m,1,1/1/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza,1,1
2,3,2,five_cheese_l,1,1/1/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza,2,3
3,4,2,ital_supr_l,1,1/1/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,2,2
4,5,2,mexicana_m,1,1/1/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,21348,ckn_alfredo_m,1,31/12/2015,21:23:10,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza,1,0
48616,48617,21348,four_cheese_l,1,31/12/2015,21:23:10,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza,2,3
48617,48618,21348,napolitana_s,1,31/12/2015,21:23:10,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza,0,1
48618,48619,21349,mexicana_l,1,31/12/2015,22:09:54,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,2,3
48619,48620,21350,bbq_ckn_s,1,31/12/2015,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,0,0

In [30]:
le = LabelEncoder()

In [32]:
df['pizza_category_id']= le.fit_transform(df['pizza_category'])

In [36]:
features = ['unit_price','pizza_size_id']
target = 'pizza_category_id'

In [38]:
X = df[features]
Y = df[target]

In [40]:
X_train,X_test,Y_train,Y_test = train_test_split(
    X,Y,test_size = 0.2,random_state = 42
)

In [57]:
scaler = StandardScaler() #Scaling should only be done on features

In [59]:
#xi-mean/sd
X_train_scale = scaler.fit_transform(X_train)
X_train_scale

array([[-1.03778502, -1.32550757],
       [-1.65955168, -1.32550757],
       [-0.13967761, -0.13747747],
       ...,
       [-1.1068702 , -1.32550757],
       [ 0.06757794, -0.13747747],
       [ 1.1729409 ,  1.05055264]])

In [61]:
X_test_scale = scaler.transform(X_test)
X_test_scale

array([[-1.1068702 , -0.13747747],
       [-0.89961465, -0.13747747],
       [-0.07059243, -0.13747747],
       ...,
       [ 1.1729409 ,  1.05055264],
       [ 0.39918683,  1.05055264],
       [ 1.1729409 ,  1.05055264]])

In [63]:
error_rate =[]
k_range = range(1,21)

In [ ]:
for i in k_range:
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train_scale,Y_train)
    Y_pred = knn.predict(X_test_scale)
    error_rate.append(np.mean(Y_pred != Y_test))

In [ ]:
plt.plot(k_range,error_rate,marker = 'o')