In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error , r2_score

In [4]:
#predicting share prices

In [6]:
data = pd.read_csv('Sharemarketdata.csv')

In [8]:
data.head()

,Unnamed: 0,symbol,Ltp,%change,open,High,Low,Qty,Pclose,diff
0,0,ACLBSL,990.00,0.00,990.00,990.00,981.00,"1,482",990.00,0.0
1,1,ADBL,296.60,-0.77,302.00,302.00,295.00,"24,934",298.90,-2.3
2,2,AHL,633.10,2.78,628.30,652.00,612.09,"27,721",616.00,17.1
3,3,AHPC,279.60,-0.50,280.30,282.50,279.60,"63,987",281.00,-1.4
4,4,AKJCL,186.00,-0.48,186.00,187.80,184.10,"46,839",186.90,-0.9

In [ ]:
Xvar = 'diff'
Yvar = ''